extends layout

block content

    <div class="m-1 row ">

        div(class="col-lg-7 col-md-6 col-sm-5 col-xs-12 my-5")
            h1(id="fotaza" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-4") Fotaza
            h1(id="prueba" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-4 my-2") Esto es Una Prueba
            h4(id="encabezado" class="col-lg-6 col-md-12 col-sm-10 col-xs-12 d-none d-sm-block mx-4 my-0 ") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab natus molestias saepe consequatur

            div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-4 my-5")
                button(class="cssbuttons-io-button") Get started   
                    div(class="icon")
                        a(href="unauthenticated/fotaza" )          
                            svg(height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                                path( d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor")



        div(class="col-lg-5 col-md-6 col-sm-7 col-xs-12 my-4")
            div(class="login-box col-lg-11 col-md-12 col-sm-12 col-xs-12 my-3")
                h2 Register
                form(action="auth/register" method="post" enctype='multipart/form-data')
                    div(class="user-box")
                        input(type="text" name="name" required="")
                        label Name

                    div(class="user-box")
                        input(type="text" name="surname" required="")
                        label Surname

                    div(class="user-box")
                        input(type="text" name="mail" required="")
                        label Mail

                    div(class="user-box")
                        input(type="password" name="password" required="")
                        label Password

                    div(class="user-box")
                        input(type="text" name="interests" required="")
                        label Interests

                    div(class="user-box")
                        input(type="file" name="imagen" accept="image/jpeg,image/jpg,image/png")    
                        label Photo profile

                    button(id="submit-login")  Submit

