@font-face {
    font-family: miFuente;
    src: url(/P22MackinacPro-Bold_16.otf);
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%233200a8'/%3E%3Cstop offset='1' stop-color='%235b17ca'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23868686'/%3E%3Cstop offset='0.09' stop-color='%23ababab'/%3E%3Cstop offset='0.18' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.31' stop-color='%23d7d7d7'/%3E%3Cstop offset='0.44' stop-color='%23e5e5e5'/%3E%3Cstop offset='0.59' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.75' stop-color='%23f9f9f9'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;

    /* Fondo que se mueve pero anda lag */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(82%2c 51%2c 185%2c 0.45)'%3e%3c/rect%3e%3cpath d='M798.922%2c535.312C842.998%2c532.074%2c886.652%2c516.981%2c908.987%2c478.845C931.541%2c440.334%2c927.405%2c392.653%2c905.117%2c353.988C882.801%2c315.273%2c843.506%2c290.921%2c798.922%2c287.903C747.83%2c284.444%2c693.271%2c295.326%2c664.515%2c337.699C632.444%2c384.957%2c624.649%2c450.147%2c656.769%2c497.372C686.331%2c540.835%2c746.499%2c539.163%2c798.922%2c535.312' fill='rgba(44%2c 10%2c 135%2c 0.66)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M334.094%2c418.493C362.904%2c416.984%2c381.463%2c392.026%2c396.759%2c367.566C413.492%2c340.808%2c433.402%2c310.423%2c419.343%2c282.168C404.319%2c251.974%2c367.818%2c241.324%2c334.094%2c241.626C300.968%2c241.923%2c267.738%2c254.826%2c251.453%2c283.674C235.398%2c312.115%2c241.857%2c346.94%2c258.925%2c374.785C275.16%2c401.27%2c303.072%2c420.118%2c334.094%2c418.493' fill='rgba(44%2c 10%2c 135%2c 0.66)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M325.67764074129957 143.03629333167615L260.09533558243567 45.8065274780528 162.86556972881232 111.38883263691672 228.44787488767622 208.61859849054008z' fill='rgba(44%2c 10%2c 135%2c 0.66)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1220.9571012221763 380.593936218131L1159.7302218222087 478.5774254273315 1318.940590431377 441.82081561809866z' fill='rgba(44%2c 10%2c 135%2c 0.66)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M987.8923611844016 310.1497308206168L1005.1963415479031 391.55855785256966 1118.6575919140816 324.898173791341z' fill='rgba(44%2c 10%2c 135%2c 0.66)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1254.1121725020384 155.15338773446572L1120.6154023041852 214.58997922259172 1180.0519937923111 348.086749420445 1313.5487639901644 288.6501579323191z' fill='rgba(44%2c 10%2c 135%2c 0.66)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
 */
    overflow-x: hidden;

}


#nav-bar {
    /* background: rgba(2, 0, 36, 0.288); */
    margin-right: 1px;
    background-color: #fff;
    margin-top: -5px;
    height: 70px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);

}

body::-webkit-scrollbar,
#box-cards::-webkit-scrollbar,
#top-photos::-webkit-scrollbar,
#contain-menu::-webkit-scrollbar,
#box-msg::-webkit-scrollbar,
#carde::-webkit-scrollbar {
    display: none;
    width: 3px;
    display: none;
    transition: 1s ease all;
}

#box-cards:hover::-webkit-scrollbar,
#top-photos:hover::-webkit-scrollbar {
    display: block;
}

#top-photos::-webkit-scrollbar {
    height: 6px;
}


body::-webkit-scrollbar-track,
#box-cards::-webkit-scrollbar-track,
#top-photos::-webkit-scrollbar-track,
#contain-menu::-webkit-scrollbar-track,
#box-msg::-webkit-scrollbar-track,
#carde::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb,
#box-cards::-webkit-scrollbar-thumb,
#top-photos::-webkit-scrollbar-thumb,
#contain-menu::-webkit-scrollbar-thumb,
#box-msg::-webkit-scrollbar-thumb,
#carde::-webkit-scrollbar-thumb {
    background: linear-gradient(121deg, rgb(0, 0, 0) 37%, rgba(73, 27, 164, 1) 74%, rgba(112, 21, 247, 1) 88%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: .1px solid rgb(0, 0, 0); */
    font-family: miFuente;
}

#contain-profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: .1px solid rgba(218, 218, 218, 0.712);
    transition: .5s ease-in-out;
}

#contain-profile-icons {
    /*  border: .1px solid black; */
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

#contain-profile-icon:hover {
    background: #ab7ec52a;
}

#profile-icon {
    width: 50px;
    height: 40px;
    color: rgb(58, 26, 100);
}

#box-cards {
    height: 100vh;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.295);
    background-color: #F8F8F8;
    transition: .5s;
    border-radius: 10px;
    scrollbar-width: none;
}

#contain-card {
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 10px;
}

#box-padre {
    height: auto;
}


#top-photos {
    display: flex;
    overflow: auto;
    scroll-snap-type: mandatory;
    width: 100%;
    height: 121px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    background-color: #5256ade3;

}

#top-img {
    min-width: 90px;
    max-width: 90px;
    scroll-snap-align: start;
    height: 90px;
    border-radius: 50%;
    margin: 10px;
}

#top-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: .5s ease all;
    border: .5px solid rgba(0, 0, 0, 0.116);

}

#top-img:hover {

    height: 115px;
    margin-top: 0;
    margin-bottom: 0;
}

#top-img img:hover {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#options {
    padding: 5px;
    border: 1px solid rgba(99, 93, 93, 0.904);
    height: 50px;
    border-radius: 2rem;
    transition: .5s ease all;
    background-color: #f8f8f8;
}

#options[open] {
    padding: 5px;
    border: 1px solid black;
    height: auto;
    border-radius: 0;
    background: #6e72b3c4;
}

#options[open]>summary {
    color: #f8f8f8;
}

#options>summary {
    top: 0px;
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
}

#almacenar-btn a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 20;
    width: 100%;
}

#photo-card {
    width: 100%;
    background-color: #0000001e;
    border-radius: 10px;
}

#photo-card img {
    object-fit: fill;
    object-fit: contain;
    width: 100%;
    height: 400px;
}

#fotaza {
    --gradien-right: #B54FF3;
    --gradien-left: #4f46e5;
    background: linear-gradient(var(--gradien-right), var(--gradien-left));
    -webkit-background-clip: text;
    color: transparent;
}

#almacenar-btn,
#ordenar-btn,
#vender-btn,
#compartir-btn,
#contact-btn {
    padding: 10px 25px;
    font-size: 20px;
    border: 0;
    outline: none;
    background-color: #5256ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#buscar {
    border: .1px solid black;
    font-family: cursive;
    margin-top: 20px;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    background-color: rgba(240, 255, 255, 0);
    outline: none;
}

#box-buscar {
    position: sticky;
    top: -37px;
    z-index: 10;

}

#box-add {
    margin-top: 14px;
    position: sticky;
    top: -15px;
    z-index: 10;
    animation: myAnim 2s ease 2s 1 normal forwards;
}


#top-target {
    border: none;
}

#top-target-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #562556;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23491f4d' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%233c1945' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2330133c' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23240d33' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%231A042A' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
}

#top-target-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

#top-target-img img {
    object-fit: contain;
    height: 100%;
}

#menu {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 45px;
    height: 45px;
    z-index: 1000;
    transition: .5s ease all;
}

#cerrar {
    width: 45px;
    height: 45px;
    transform: translateX(-400%);
    transition: 1.5s ease all;
}

#cerrar:hover,
#menu:hover {
    transform: translateY(-2px);
}

#close,
#apps {
    width: 45px;
    height: 45px;
    color: rgb(0, 0, 0);

    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 5px;
}

#contain-menu {
    border: none;
    padding: 5px;
    background: linear-gradient(145deg, #cacacad7, #482580ec);
    width: 200px;
    height: 100%;
    position: fixed;
    right: 100%;
    top: 0;
    z-index: 1000;
    transition: 1s;
    transform: translateX(0%);
}

#contain-menu-share {
    border: none;
    padding: 5px;
    background: linear-gradient(145deg, #cacacadc, #482580dc);
    width: 200px;
    height: 100%;
    position: fixed;
    right: 100%;
    top: 0%;
    z-index: 1000;
    transition: 1s;
    transform: translateX(0%);
}

#cuadro-menu {
    border: none;
    top: 7%;
    background-color: #ffffff00;
    padding: 8px;
    margin: 4px;
    margin: 0;
    color: #000000;
    margin-top: 5px;
}

#cuadro-menu-share {
    border: none;
    top: 7%;
    background-color: #ffffff00;
    padding: 8px;
    margin: 4px;
    margin: 0;
    color: #000000;
    margin-top: 5px;
}

#contact-btn {
    width: 100%;
}


/* botones izquierda home */

#btn {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    width: 100%;
    margin-bottom: 15px;

}

#button_top {
    text-decoration: none;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

#btn:hover #button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

#btn:active #button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}


/* boton compartir card */

#compartir-btn {
    font-family: inherit;
    font-size: 20px;
    background: #5256ad;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

#compartir-btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

#compartir-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

#compartir-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

#compartir-btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

#compartir-btn:hover span {
    transform: translateX(2000%);
}

#compartir-btn:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

#abrirComments {
    transition: .5s ease all;
    text-decoration: none;
    color: #000;
}

#abrirComments:hover {
    font-size: 15px;
    cursor: pointer;
}

#img-profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 6px;
}

#datos {
    /* background-image: url(/910923.png); */
    background-color: #0000009d;
    margin-top: 75px;
    margin-left: 0;
    margin-right: 0;
}

#datos-contain-img {
    /*     height: 500px; */
    padding: 0;
}

#datos img {
    position: absolute;
    border-radius: 0;
    width: 101%;
    height: 100%;
}

#footer {
    background-color: #e0e0e0;
    border-radius: 2em;

}

#card {
    width: 200px;
    height: 250px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;

}

#card-move {

    background: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    text-align: center;

    position: relative;
    transition: all .4s;
    padding: 0;
    height: 200px;
    border-radius: 50px;
    background: #a975d32f;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

#card-move div {

    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
    transition: all .4s;

    border-radius: 50px;
    background: #e0e0e0;

}

#card-move::before {
    content: '';
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
}

#card-move:hover div {

    transform: translateY(-30px);
}

/* btn add image */

.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    z-index: 50;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
}

.add-btn:hover {
    width: 120px;
}

.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: seagreen;
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
}


.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-btn:hover .btn-txt {
    opacity: 1;
}

.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: seagreen;
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}




@keyframes myAnim {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}


.ec-stars-wrapper {
    font-size: 0;
    display: inline-block;
}

.ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;
    font-size: 40px;

    color: rgb(146, 140, 140);
}

.ec-stars-wrapper:hover a {
    color: rgb(217, 255, 0);
    text-decoration: none;
}

.ec-stars-wrapper>a:hover~a {
    color: rgb(146, 140, 140);
}





.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.74);
}

.slider-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-prev,
.slider-next {
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: block;
    border: none;
}

.slider-prev ion-icon,
.slider-next ion-icon {
    font-size: 40px;
}

.slider-prev {
    left: 0;
}

.slider-next {
    right: 0;
}

.slider-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.slider-indicators .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.slider-indicators .dot.active {
    background-color: white;
}