#input-msg {
    border: .1px solid black;
    font-family: cursive;
    height: 60px;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    letter-spacing: 4px;
    border-radius: 2em;

    background: linear-gradient(145deg, #cacaca88, #4825808a);
    background-color: rgb(250, 255, 255);
}

#contain-box-msg {
    height: 100vh;
    position: fixed;
    top: -15px;
    background-image: url(/910923.png);
    align-items: center;
    z-index: 50;
    transition: 1s ease all;
}

#box-msg {
    height: 75vh;
    overflow-y: scroll;
    background-color: #ffffff15;
}

#msg {
    word-wrap: break-word;
}

#i-msg {
    color: #9e9797;
}

#p-msg {
    color: #cfcece;
}

i{
    color: rgb(102, 95, 109);
    margin-left: 3px;
}

#cerrar-comments {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    transition: 1s ease all;
    z-index: 51;
}

#icon-cerrar-comment {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}


#linea-msg {
    background-color: rgba(255, 255, 255, 0.178);
}

#img img {
    object-fit: contain;
    max-height: 300px;

}