@font-face {
    font-family: miFuente;
    src: url(/P22MackinacPro-Bold_16.otf);
}


body {
    background-color: #352157;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23352157' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23341f54' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23331d50' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23321b4d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2331194a' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23301747' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%232f1644' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%232e1441' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%232d123e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%232b103b' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%232a0f38' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23290d35' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23270b32' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2326092f' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2325072c' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23230529' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23220327' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


body::-webkit-scrollbar,
#box-cards::-webkit-scrollbar,
#top-photos::-webkit-scrollbar {
    width: 1px;
}

body::-webkit-scrollbar-track,
#box-cards::-webkit-scrollbar-track,
#top-photos::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb,
#box-cards::-webkit-scrollbar-thumb,
#top-photos::-webkit-scrollbar-thumb {
    background: linear-gradient(121deg, rgb(0, 0, 0) 37%, rgba(73, 27, 164, 1) 74%, rgba(112, 21, 247, 1) 88%);

}

i{
    color: rgb(172, 171, 169);
    font-size: 12px;
}

@font-face {
    font-family: miFuente;
    src: url(/fonts/P22MackinacPro-Bold_16.otf);
}

#contain-cards {
    background-color: rgba(200, 207, 207, 0.192);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: .1px solid rgb(0, 0, 0); */
    font-family: miFuente;
    color: #f0f0f0;
}

#img-profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}


#card-img {
    padding: 0;
    background-color: rgb(20, 20, 20);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


#card-img img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-bottom: .5px solid rgba(90, 89, 89, 0.575);
}

#abrirComments {
    transition: .5s ease all;
    text-decoration: none;
    color: #000;
}


#delete-photo {
    display: flex;
    justify-content: center;
}

#delete-photo > a{
    color: rgb(172, 171, 169);
}

#delete {
    width: 40px;
    height: 40px;
    color: rgb(119, 21, 21);
}

#cerrar-comments {
    width: 20px;
    height: 20px;
    color: black;
    transition: 1s ease all;
}

#icon-cerrar-comment {
    color: black;
}

#details {
    font-size: 40px;
}